@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #3c0e18;
    --secondary-color: #a48a91;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

nav {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        background-color: white;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }
    
.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    align-items: center;
    height: 80px;
}

.navbar .nav-brand h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.nav-menu li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.nav-menu li a {
    font-size: large;
    font-weight: 650;
    color: var(--secondary-color);
    transition: 0.3s;
}

.nav-menu li a::after {
    content: "";
    display: block;
    border-bottom: 0.1px solid var(--primary-color); 
    background-color: var(--primary-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-menu li a:hover{
    color: var(--primary-color);
}

.nav-menu li a:hover::after {
    width: 100%;
}



    .navbar .nav-brand
    {
        display: flex;
        align-items: center;
    }

    .nav-brand .btn-menu {
        color: var(--primary-color);
        margin-right: 20px;
        font-size: 20px;
        display: none;
    }


   .fade {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

    .fade.show {
    opacity: 1;
    transform: translateY(0);
}

    .tag {
        font-size: 32px;
        font-weight: 700;
    }

    .cursor {
        border-right: 2px solid #000;
        animation: blink 0.7s infinite;
    }

    @keyframes blink {
        50% { border-color: transparent; }
    }

    .card {
    text-align: center;
}

/* IMAGE */
.card-img {
    width: 150px;
    transform: scale(0.8);
    opacity: 0;
    transition: 0.6s ease;
}

/* TEXT */
.card-text {
    opacity: 0;
    transform: translateY(25px);
    transition: 0.6s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}
/* AKTIF */
.card.active .card-img {
    transform: scale(1);
    opacity: 1;
}

.card.active .card-text {
    opacity: 1;
    transform: translateY(0);
}

    /* style banner */

    main{
        background-color: #efefef;
        top: -60px;
    }

    main .container{
        position: relative;
        width: 100%;
        height: 100%; 
        overflow: hidden; 
    }

    main img {
        width: 100%;
        height: 100%;
        object-fit: cover;
 
    }

    main .tagline {
        position: absolute;
        top: 60%;
        left: 8%;
        transform: translateY(-50%);
        color: white;
        max-width: 500px;
    }
    main .tagline .tag {
        font-size: 40px;
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
    }

    main .tagline p {
        font-size: 18px;
        margin-top: 10px;
    }

    /* style menu */
    #menu .container {
        max-width: 1250px;
        margin: auto;
        padding: 180px 0 60px;
        text-align: center;
    }
    #menu .menu-title {
        font-size: 30px;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    .galeri {
    display: flex;
    gap: 30px;           
    justify-content: center;
    align-items: stretch;
    }

    .card {
    width: 300px;
    height: 420px;
    padding: 20px;          
    text-align: center;
    }

    .galeri .card img   {
    width: 100%;           
    max-width: 150px;    
    margin-bottom: 15px;
}

    #message {
        display: flex;
        justify-content: center;
        padding: 100px 20px;
    }

    #message input:focus,
#message textarea:focus {
    outline: none;
    border-color: #3c0e18;
    background-color: #ffffff;
}

    #message .container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

    #message h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    #message input,
    #message textarea {
        width: 100%;
        padding: 12px;
        font-size: 14px;
        margin-bottom: 12px;
        border-radius: 5px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    #message h2.show,
    #message input.show,
    #message textarea.show {
        opacity: 1;
        transform: translateY(0);
}

    #message textarea {
        min-height: 100px;
        resize: none;
    }

    #message button {
        font-size: 14px;
        padding: 10px;
        width: 100%;
        border-radius: 9px;
        background-color: var(--primary-color);
        color: white;
        opacity: 0;
        transform: scale(0.8);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    #message button.zoom {
    opacity: 1;
    transform: scale(1);
}

    #result {
        margin-top: 15px;
        text-align: center;
        font-size: 14px;
    }

.result-content {
    margin-top: 10px;   
}

#about {
    padding: 120px 20px;
    background-color: #ffffff;
}

.about-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 1000px;
    margin: 0 250px;
}

.about-text {
    flex: 1;
    font-size: 16px;
    line-height: 1.7;
    color: #444;
}

.about-text p {
    margin-bottom: 15px;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-text p.show {
    opacity: 1;
    transform: translateY(0);
}

.about-image {
    margin-left: 300px;
    flex: 1;
}

.about-image img {
    width: 400px;      
    height: 400px;     
    border-radius: 50%;
    object-fit: cover;
    box-shadow: #444 0px 4px 8px;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transform: scale(1); 
    opacity: 0;
}

.about-image img.zoom {
    transform: scale(1.1); 
    opacity: 1;
}


    /* responsive mobile */
@media (max-width: 567px) {
    .navbar {
        padding: 0 10px;
    }

    .nav-menu {
        position: fixed;
        height: 100%;
        width: 50%;
        top: 80px;
        background-color: var(--secondary-color);
        left: -100%;
        transition: 0.5s;
    }

    .navbar .nav-menu a {
        color: white;
        font-size: 15px;

    }

    .nav-menu li {
        display: block;
        padding: 10px 0;
    }

    .nav-menu li a::after {
        transform-origin: left;
    }
    .nav-menu li a:hover::after {
        transform: scaleX(0.35);
    }

    .nav-brand .btn-menu {
        display: block;
    }

    .navbar .nav-menu.active {
        left: 0;
    }

/* style banner */
    main .container{
        position: relative;
        width: 100%;
        height: 90vh; 
        overflow: hidden; 
    }


    main .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    main .tagline {
        max-width: 250px;
        padding-bottom: 10px;
        margin-top: 130px;
}
   main .tagline .tag {
        font-size: 30px;
        margin-bottom: 10px;
    }

    main .tagline p {
        font-size: 18px;
    }   

    main .tagline p.deskripsi {
        font-size: 14px;
        margin-bottom: 30px;
    }

     .about-content {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        gap: 10px;
    }

    .about-text {
        flex: 0.6; 
        text-align: left; 
    }

    .about-image {
        flex: 0.4;
        display: flex;
        justify-content: flex-start;
    }

    .about-image img {
        display: block;   /* PENTING supaya muncul */
        width: 100%;      /* sesuaikan container */
        height: auto;
        max-width: 150px; /* batasi ukuran */
        margin: 0;
    }
}